<a href="https://colab.research.google.com/github/prog815/lernPython/blob/master/%D0%B8%D0%BC%D0%BF%D0%BE%D1%80%D1%82_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85_%D1%81_rbc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ипортируем данные с РБЦ

## адрес импорта

In [0]:
days=10
url='http://export.rbc.ru/free/micex.0/free.fcgi?period=DAILY&tickers=NULL&lastdays='+str(days)+'&separator=%3B&data_format=EXCEL&header=1'
url

'http://export.rbc.ru/free/micex.0/free.fcgi?period=DAILY&tickers=NULL&lastdays=10&separator=%3B&data_format=EXCEL&header=1'

## загружаем данные

In [0]:
import pandas as pd
data_csv=pd.read_csv(url,sep=';')

In [0]:
data_csv.shape

(2166, 8)

## смотрим на результаты

In [0]:
data_csv.head(20)

   TICKER        DATE       OPEN  ...      CLOSE         VOL     WAPRICE
0    ABRD  2019-07-25    136.500  ...    138.000      2780.0    137.0000
1    ACKO  2019-07-25      5.200  ...      5.200     19000.0      5.2800
2    AFKS  2019-07-25     11.875  ...     11.695   6034100.0     11.7000
3    AFLT  2019-07-25    107.300  ...    107.500   3423480.0    107.3800
4    AGRO  2019-07-25    738.800  ...    741.000      5499.0    742.0000
5    AKRN  2019-07-25   4630.000  ...   4624.000       859.0   4628.0000
6    ALBK  2019-07-25     73.000  ...     71.000       700.0     71.0000
7    ALNU  2019-07-25  79200.000  ...  78800.000       126.0  78200.0000
8    ALRS  2019-07-25     80.860  ...     81.300  15803740.0     80.9600
9    AMEZ  2019-07-25      4.420  ...      4.345     51900.0      4.3250
10   APTK  2019-07-25     10.751  ...     11.852   3030750.0     11.7640
11   AQUA  2019-07-25    243.500  ...    250.000      2570.0    245.5000
12   ARMD  2019-07-25      4.335  ...      4.130    120800.0      4.1350
13   ARSA  2019-07-25      3.040  ...      3.040      1000.0      3.0400
14   ASSB  2019-07-25      0.680  ...      0.686   2165000.0      0.7015
15   AVAN  2019-07-25    670.000  ...    650.000        80.0    670.0000
16   BANE  2019-07-25   1874.000  ...   1873.500      1920.0   1873.0000
17  BANEP  2019-07-25   1613.000  ...   1605.000     19587.0   1606.5000
18   BELU  2019-07-25    470.000  ...    477.000        32.0    472.0000
19   BISV  2019-07-25        NaN  ...        NaN         NaN         NaN

[20 rows x 8 columns]